apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "url": "https://vcf-fd-auto-01.cmbu.local/",
      "refresh_token": "XrbZJymmXscy0DdFTf6ea1nryx8CcSDg"
    }
